/* ===============
   ALL PAGES FORMATTING STARTS HERE
   =============== */

* {
  font-family: "Mohave", sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #1f1e1e;
}

/* ===============
   ALL PAGES FORMATTING ENDS HERE
   =============== */

/* ===============
   HEADER FOR ALL PAGES STARTS HERE
   =============== */

header {
  color: #f7eade;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-position: center center;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
}

header h1 {
  text-align: center;
  text-shadow: 0.2rem 0.2rem #2a2828;
  font-size: 6.25vw;
}

/* Wrapper for home page header starts */

.welcome-wrapper {
  position: relative;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 65%;
}

.welcome-wrapper h1 {
  margin-top: 10vw;
  letter-spacing: 6px;
}
/* Wrapper for home page header ends */

/* Wrapper for headers on all other pages starts */

.header-wrapper {
  position: relative;
  margin: auto;
}

.header-wrapper h1 {
  font-size: 7.25vw;
  letter-spacing: 6px;
}

/* Wrapper for headers on all other pages ends*/

.logo {
  position: absolute;
  z-index: 3;
  width: 11vw;
  padding-left: 1rem;
  padding-top: 1rem;
  opacity: 95%;
}

.buttons-list {
  position: absolute;
}

.buttons-list li {
  display: inline;
}

header h2 {
  text-shadow: 0.2rem 0.2rem #2a2828;
  padding: 2rem 0;
  letter-spacing: 3px;
}

/* ===============
   HEADER FOR ALL PAGES ENDS HERE
   =============== */

/* ===============
   SOCIALS NAV FOR ALL PAGES STARTS HERE
   =============== */

.nav1-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.nav-list1 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.nav-list1 li {
  display: inline;
  float: right;
}

.nav-list1 li i {
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  color: #f7eade;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem #2a2828;
  letter-spacing: 6px;
}

.nav-list1 li i:hover {
  color: rgba(239, 213, 189, 0.8);
  text-shadow: 0.1rem 0.1rem #2a2828;
}
/* ICON HANG STYLING STARTS HERE WC3 STATES THESE AS WARNINGS WHEN I VALIDATE MY CODE BUT AS FAR AS I UNDERSTAND IT IS BECUASE  THE VALIDATOR ONLY VALIDATES AGAINST VALID CODE AND VENDOR EXTENSIONS ARE PROPIETARY CODE AND TECHNICALLY UNVALID BUT STILL USABLE. */

/* Icon Hang from http://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover .hvr-icon,
.hvr-icon-hang:focus .hvr-icon,
.hvr-icon-hang:active .hvr-icon {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* ICON HANG STYLING ENDS HERE */

/* ===============
   SOCIALS NAV FOR ALL PAGES ENDS HERE
   =============== */

/* ===============
   MAIN HORIZONTAL NAV FOR ALL PAGES STARTS HERE
   =============== */

.nav2-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-top: 100px;
}

.nav-list2 {
  padding-top: 0.5rem;
  font-size: 1.25em;
}

.nav-list2 ul {
  list-style-type: none;
}

.nav-list2 li {
  display: inline;
  float: none;
  padding: 0 1rem;
  text-decoration: none;
  transition-duration: 0.5s;
  width: 30%;
  text-align: center;
  text-shadow: 0.1rem 0.1rem #2a2828;
}

.nav-list2 li a {
  color: #f7eade;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-list2 ul li ul {
  min-width: 3rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
}

.nav-list2 ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 225px;
  /* could use max to make dropdown a column, but clashes with h1 on home pge */
  padding: 12px 16px;
}

li:hover .dropdown {
  display: block;
}

.nav-list2 li:hover {
  background-color: #3f3b3b;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ===============
   MAIN HORIZONTAL NAV FOR ALL PAGES ENDS HERE
   =============== */

/* Button #50 copied from getcssscan.com with slight adjustments to colour and font */

/* ===============
   BUTTON STYLING FOR ALL PAGES STARTS HERE
   =============== */

.button-50 {
  background-color: #3e3c3c;
  background-image: none;
  border: 1px solid #2a2828;
  border-radius: 4px;
  box-shadow: #f7eade 4px 4px 0 0, #2a2828 4px 4px 0 1px;
  box-sizing: border-box;
  font-variant: small-caps;
  color: #f7eade;
  font-family: "Mohave", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
  background-color: #f7eade;
  color: #2a2828;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fbf5ef 2px 2px 0 0, #2a2828 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.payment-button {
  margin-top: 5rem;
  margin-left: 44vw;
  margin-right: 40vw;
}

/* ===============
   BUTTON STYLING FOR ALL PAGES ENDS HERE
   =============== */

/* ===============
   DARK COLOURED 2 COLUMN LAYOUT FOR ALL PAGES STARTS HERE
   =============== */

.dark-2column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1e1e;
  color: #f3e0ce;
  height: 75vh;
  width: 100%;
}
.dark-2column .column1 {
  padding: 1rem;
  width: 50%;
  text-align: center;
}

.dark-2column .column1 h2 {
  font-size: 2.5em;
  padding-bottom: 1.5rem;
  letter-spacing: 2px;
}

.dark-2column .column1 h3 {
  font-size: 2.25em;
  margin-bottom: 0.4rem;
  letter-spacing: 2px;
}

.dark-2column .column1 ul {
  padding-bottom: 1.5rem;
}

.dark-2column .column1 ul li {
  font-size: 1.25em;
}

.dark-2column .column1 p {
  list-style-type: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25em;
}

.dark-2column .column1 .button {
  list-style-type: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* ===============
   DARK COLOURED 2 COLUMN LAYOUT FOR ALL PAGES ENDS HERE
   =============== */

/* ===============
   LIGHT COLOURED 2 COLUMN LAYOUT FOR ALL PAGES STARTS HERE
   =============== */

.light-2column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f7eade;
  color: #1f1e1e;
  height: 75vh;
  width: 100%;
}
.light-2column .column1 {
  padding: 1rem 2rem;
  width: 50%;
  text-align: center;
}

.light-2column .column1 h2 {
  font-size: 2.5em;
  padding-bottom: 1.5rem;
  letter-spacing: 2px;
}

.light-2column .column1 h3 {
  font-size: 2.25em;
  margin-bottom: 0.4rem;
  letter-spacing: 2px;
}

.light-2column .column1 ul {
  padding-bottom: 1.5rem;
}

.light-2column .column1 ul li {
  font-size: 1.25em;
  list-style-type: none;
}

.light-2column .column1 p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25em;
}

.light-2column .column1 .button {
  list-style-type: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* ===============
   LIGHT COLOURED 2 COLUMN LAYOUT FOR ALL PAGES ENDS HERE
   =============== */

/* RESPONSIVE CSS FOR IMAGES */

.responsive {
  width: 100%;
  height: auto;
}

/* ===============
   HOME PAGE STYLING STARTS HERE
   =============== */

/* Quote Formatting for Statement Section on Home Page */

.quote-format {
  display: flex;
  background-color: #1f1e1e;
  width: 100%;
  text-align: center;
  height: 15rem;
  align-items: center;
  margin: 0%;
}
.quote-format p {
  padding: 0vh 10vw;
  color: #f7eade;
  font-size: 1.25em;
}

/* Amenities Section on Home Page */

.home-amenities {
  background-color: #f7eade;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.home-amenities h2 {
  font-size: 3.5em;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.home-amenities .card {
  height: auto;
}

/* Cards within Amenities Section */

/* Columns side by side */
.row .column {
  float: left;
  width: 22%;
  margin-bottom: 16px;
  padding: 0 10px;
  margin-left: 1.25vw;
  margin-right: auto;
  flex-wrap: wrap;
}

/* Add some shadows to create a card effect for cards in amenities section and customer testimonials */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row .column .card h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

/* Some left and right padding inside the container */
.container {
  margin: auto;
  text-align: center;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ===============
   LIGHT COLOURED2 CARD LAYOUT FOR CUSTOMER TESTIMONIALS SECTION ON HOME PAGE STARTS HERE
   =============== */

.light-2cards-container {
  background-color: #f7eade;
  padding-top: 1rem;
  width: 100%;
}

.light-2cards-container h2 {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.light-2cards-container h3 {
  font-size: 2.25em;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.light-2cards-container p {
  font-size: 1.25em;
}

.light-2cards {
  background-color: #f7eade;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.light-2cards .card {
  width: 40vw;
  margin-bottom: 3rem;
}

.light-2cards .cardp {
  height: auto;
  padding: 1rem 3rem;
  text-align: center;
}

.light-2cards .cardp h4 {
  padding-top: 1rem;
  font-size: 1.25rem;
 color: #1f1e1e ; 
}

.light-2cards .cardp ul li {
  text-align: left;
  list-style-type: circle;
  font-size: 1.25em;
}

.light-2cards .cardp::after {
  content: "";
  clear: both;
  display: table;
}

/* ===============
   HOME PAGE STYLING ENDS HERE
   =============== */

/* ===============
   ABOUT PAGE STYLING STARTS HERE
   =============== */

/* Text Block on About Us Page */

.text-block {
  display: flex;
  background-color: #1f1e1e;
  width: 100vw;
  text-align: center;
  align-items: center;
  margin: 0%;
}

.text-block h2 {
  font-size: 2.5em;
  color: #f7eade;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 2px;
}

.text-block p {
  padding: 0vh 10vw;
  color: #f7eade;
  font-size: 1.25em;
  padding-bottom: 2rem;
  letter-spacing: 2px;
}

/* ===============
   ABOUT PAGE STYLING ENDS HERE
   =============== */

/* ===============
   BOOKING PAGE STYLING STARTS HERE
   =============== */

.booking-page h2 {
  text-align: center;
  background-color: #f7eade;
  margin: 0;
  padding: 1rem 0;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.booking-page ul li {
  list-style-type: none;
}

/* ===============
   BOOKING PAGE STYLING ENDS HERE
   =============== */

/* ===============
   THINGS TO DO PAGE STYLING STARTS HERE
   =============== */

/* Dark 2 Card Layout for Things to Do in Harrison Lke section on Things to Do Page*/

.dark-2cards-container {
  background-color: #1f1e1e;
  padding-top: 1rem;
  width: 100vw;
  color: #f3e0ce;
}

.dark-2cards-container h2 {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.dark-2cards-container h3 {
  font-size: 2.25em;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.dark-2cards-container p {
  font-size: 1.25em;
  text-align: left;
}

.dark-2cards {
  background-color: #1f1e1e;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

.dark-2cards .card {
  width: 40vw;
  margin-bottom: 3rem;
}

.dark-2cards .cardp {
  padding: 1rem 2rem;
  text-align: center;
}

.dark-2cards .cardp p {
  font-size: 1.25em;
  padding-bottom: 1rem;
}

.dark-2cards .cardp ul li {
  text-align: left;
  list-style-type: circle;
  font-size: 1em;
}

.dark-2cards .cardp ul li a {
  color: #f3e0ce;
  text-decoration: none;
}

.dark-2cards .cardp ul li a:hover {
  color: #dc6641;
  text-decoration: none;
}

.dark-2cards .cardp::after {
  content: "";
  clear: both;
  display: table;
}

/* Cards for Amenities */

.things-amenities {
  background-color: #f7eade;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.things-amenities h2 {
  font-size: 3.5em;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.things-amenities .column {
  height: auto;
  max-height: 700px;
}

.things-amenities .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.things-amenities .container p {
  padding-bottom: 2rem;
}

/* ===============
   THINGS TO DO PAGE STYLING ENDS HERE
   =============== */

/* ===============
   CONTACT US PAGE STYLING STARTS HERE
   =============== */
/* 
   WC3 STATES THE FILTERS AS WARNINGS WHEN I VALIDATE MY CODE BUT AS FAR AS I UNDERSTAND IT IS BECUASE THE VALIDATOR ONLY VALIDATES AGAINST VALID CODE AND VENDOR EXTENSIONS ARE PROPIETARY CODE AND TECHNICALLY UNVALID BUT STILL USABLE.

GOOGLE MAPS BAR STYLING STARTS HERE */

.maps-container {
  padding-bottom: 30%;
  position: relative;
  height: 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.maps-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*
GOOGLE MAPS BAR STYLING ENDS HERE
*/

/* CONTACT US FORM STARTS HERE */

/* ===============
   FORM SECTION STARTS HERE
   =============== */

.form-container {
  background-color: #1f1e1e;
  justify-content: center;
  max-width: 100vw;
  padding: 50px 200px;
}

.form-container h2 {
  text-align: center;
  letter-spacing: 2px;
}

.form article {
  padding: 10px 0;
  width: 20vw;
  margin: 0;
}

input[type="reset"] {
  color: #dc6641;
  padding: 12px 20px;
  border: 1px solid #dc6641;
  border-radius: 10px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #f9e3dd;
}

input[type="submit"] {
  background-color: #dc6641;
  color: #fbf5ef;
  padding: 12px 20px;
  border: 1px solid #dc6641;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f9e3dd;
  color: #2a2828;
}

/* ===============
     STRUCTURE
     =============== */

.wrapper-form {
  border-radius: 10px;
  background-color: #fbf5ef;
  padding: 35px;
  margin: 0;
  width: 800px;
  margin: auto;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* ===============
     FORM CONTROLS
     =============== */

input,
select,
textarea {
  font-family: "Mohave", sans-serif;
  font-size: 1em;
  background-color: white;
}

input[type="text"],
select,
textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: "Mohave", sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: #dc6641;
}

/* ===============
     FORM SECTION ENDS HERE
     =============== */

/* ===============
   CONTACT US PAGE STYLING STARTS HERE
   =============== */

/* ===============
   CTA SECTION FOR ALL PAGES STARTS HERE
   =============== */

.main-cta {
  background-image: url(Images/1Index/AllPages/error-420-aHA9OALfaqA-unsplash.jpg);
  background-size: cover;
  width: 100vw;
  background-position: center center;
  overflow: hidden;
  color: #f7eade;
  text-align: center;
  margin: 0;
  height: 45vh;
}

.main-cta h2 {
  padding-top: 2rem;
  text-align: left;
  margin-left: 5rem;
  font-size: 2.5em;
  text-shadow: 0.2rem 0.2rem #2a2828;
  letter-spacing: 2px;
}

.main-cta p {
  text-align: left;
  margin-left: 5rem;
  font-size: 1.25em;
  padding-bottom: 2rem;
}

/* ===============
   CTA SECTION FOR ALL PAGES ENDS HERE
   =============== */

/* ===============
   FAT FOOTER SECTION FOR ALL PAGES STARTS HERE
   =============== */

.footer-dark {
  color: #f3e0ce;
  background-color: #1f1e1e;
  width: 100%;
  clear: both;
}

.footer-dark .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* FLEX WRAP WRAP FOR ALL ITEMS */
  margin-left: 2rem;
}

.footer-dark .column {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 15vw;
  text-align: left;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.75em;
  text-shadow: 0.2rem 0.2rem #2a2828;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
}

.footer-dark ul a:hover {
  opacity: 0.9;
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

.footer-dark .item.text ul li {
  opacity: 0.6;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* RESPONSIVE MAP IN FOOTER STARTS HERE */

.responsive-map {
  overflow: hidden;
  padding-right: 35vw;
  padding-bottom: 35vh;
  position: relative;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* RESPONSIVE MAP IN FOOTER STARTS HERE */

/* SOCIALS IN FOOTER STARTS HERE */

.footer-socials-container {
  width: 10rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: auto;
  text-align: center;
  height: auto;
}

.footer-socials-container li a i {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  width: 3rem;
  height: auto;
  text-shadow: 0.2rem 0.2rem #2a2828;
  font-size: 3rem;
}

.footer-socials-container li a i:hover {
  color: rgba(239, 213, 189, 0.8);
  text-shadow: 0.2rem 0.2rem #2a2828;
}

.footer-dark .item.social > a:hover {
  opacity: 0.8;
}

/* SOCIALS IN FOOTER STARTS HERE */

/* COPYRIGHT/DISCLAIMER IN FOOTER STARTS HERE */

.footer-dark .copyright {
  text-align: center;
  padding-bottom: 1rem;
  opacity: 0.3;
  font-size: 1em;
  margin-bottom: 0;
}

/* COPYRIGHT/DISCLAIMER IN FOOTER ENDS HERE */

.copyright {
  text-align: center;
  padding: 2rem 2rem;
  font-family: "Roboto", sans-serif;
}

.wireframes {
  padding-top: 4rem;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

/* ===============
   FAT FOOTER SECTION FOR ALL PAGES ENDS HERE
   =============== */

/* ===============
   STYLING FOR DEVICE SIZES STARTS HERE 
   ===============  */

/* HOME PAGE IS RESPONSIVE TO MULTIPLE DEVICES AS REQUIRED */
/* Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (max-width: 400px) {
  h1,
  h2,
  body {
    font-size: 16px;
  }

  .menu-label,
  .nav1-container,
  .nav2-container,
  .nav-list1,
  .hvr-icon-hang,
  .hvr-icon {
    display: none;
  }

  nav .toggle,
  .responsive-map {
    display: none;
  }

  .welcome-wrapper {
    padding-top: 5rem;
  }

  nav ul li {
    padding-right: 8px;
  }

  .dark-2column,
  .light-2column,
  .quote-format,
  .home-amenities,
  .light-2cards,
  .text-block,
  .booking-page,
  .light-2cards-container .dark-2cards-container,
  .maps-container,
  .form-container,
  .main-cta,
  .footer-dark {
    display: flex;
  }

  .light-2cards-container .light-2cards {
    flex-direction: column;
  }

  .light-2cards-container .light-2cards .card {
    width: 100%;
  }

  .dark-2column,
  .light-2column {
    flex-direction: column;
    height: 100%;
  }

  .home-amenities,
  .main-cta {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-amenities .column {
    padding-left: 45px;
  }
  .footer-dark .container {
    justify-content: center;
  }
}

/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
  nav .menu-label {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    padding-right: 8px;
  }

  nav .toggle {
    display: none;
  }

  .dark-2column,
  .light-2column,
  .quote-format,
  .home-amenities,
  .light-2cards,
  .text-block,
  .booking-page,
  .dark-2cards-container,
  .maps-container,
  .form-container,
  .main-cta,
  .footer-dark {
    display: flex;
  }

  .home-amenities,
  .main-cta {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-amenities .column {
    padding-left: 45px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav ul,
  main {
    width: 100%;
    margin: 0 auto;
  }
  .menu-label {
    display: none;
  }
}
/* ===============
   STYLING FOR DEVICE SIZES ENDS HERE
   ===============  */
